<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406262332114-kgsn6pm2n1fg3ut20fb5tfqojf4kpvkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406262332114-kgsn6pm2n1fg3ut20fb5tfqojf4kpvkc</string>
	<key>API_KEY</key>
	<string>AIzaSyC775lMyodm7SIOWWGvzcGy5ZaiizKQB7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>406262332114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios-template-swift-ui</string>
	<key>PROJECT_ID</key>
	<string>tem-ios-83bf3</string>
	<key>STORAGE_BUCKET</key>
	<string>tem-ios-83bf3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406262332114:ios:beea0a123be0bf9cc58b0b</string>
</dict>
</plist>